USE [master]
GO
/****** Object:  Database [EnergyPredictor]    Script Date: 3/14/2026 12:39:09 PM ******/
CREATE DATABASE [EnergyPredictor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnergyPredictor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EnergyPredictor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnergyPredictor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EnergyPredictor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnergyPredictor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnergyPredictor]
GO
/****** Object:  User [Sarvesh\Sarvesh Pujari]    Script Date: 3/14/2026 12:39:10 PM ******/
CREATE USER [Sarvesh\Sarvesh Pujari] FOR LOGIN [Sarvesh\Sarvesh Pujari] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Sarvesh\Sarvesh Pujari]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Sarvesh\Sarvesh Pujari]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Sarvesh\Sarvesh Pujari]
GO
/****** Object:  Table [dbo].[Predictions]    Script Date: 3/14/2026 12:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predictions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AppliancesCount] [int] NOT NULL,
	[Temperature] [decimal](4, 1) NULL,
	[Humidity] [int] NULL,
	[UsageHours] [int] NULL,
	[PerUnitRate] [decimal](6, 2) NULL,
	[PredictedDailyKwh] [decimal](6, 2) NULL,
	[PredictedMonthlyKwh] [decimal](6, 2) NULL,
	[PredictedMonthlyCost] [decimal](8, 2) NULL,
	[Budget] [decimal](8, 2) NULL,
	[BudgetExceeded] [bit] NULL,
	[Month] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 3/14/2026 12:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[HouseholdSize] [int] NULL,
	[DefaultAppliances] [int] NULL,
	[DefaultUsageHours] [int] NULL,
	[DefaultTemperature] [decimal](4, 1) NULL,
	[DefaultHumidity] [int] NULL,
	[DefaultPerUnitRate] [decimal](6, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/14/2026 12:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Predictions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT ((4)) FOR [HouseholdSize]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT ((5)) FOR [DefaultAppliances]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT ((8)) FOR [DefaultUsageHours]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT ((25.0)) FOR [DefaultTemperature]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT ((50)) FOR [DefaultHumidity]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT ((7.50)) FOR [DefaultPerUnitRate]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Predictions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='user' OR [Role]='admin'))
GO
USE [master]
GO
